[submodule "Redfish-Mockup-Server"]
	path = Redfish-Mockup-Server
	url = https://github.com/DMTF/Redfish-Mockup-Server.git
[submodule "Redfish-Mockup-Creator"]
	path = Redfish-Mockup-Creator
	url = https://github.com/DMTF/Redfish-Mockup-Creator.git
[submodule "Redfish-Service-Validator"]
	path = Redfish-Service-Validator
	url = https://github.com/DMTF/Redfish-Service-Validator.git
[submodule "Redfish-Interface-Emulator"]
	path = Redfish-Interface-Emulator
	url = https://github.com/DMTF/Redfish-Interface-Emulator.git
[submodule "redfish-validator-profiles"]
	path = redfish-validator-profiles
	url = https://github.com/Cray-HPE/redfish-validator-profiles.git
[submodule "Redfish-Interop-Validator"]
	path = Redfish-Interop-Validator
	url = https://github.com/DMTF/Redfish-Interop-Validator.git
[submodule "csm-redfish-interface-emulator"]
	path = csm-redfish-interface-emulator
	url = https://github.com/Cray-HPE/csm-redfish-interface-emulator.git
